body{
	background: hsla(113, 68%, 46%, 1);
	background: linear-gradient(90deg, hsla(113, 68%, 46%, 1) 0%, hsla(0, 4%, 10%, 1) 100%);
}
h1{
	text-align: center;
	text-align: justify-all;
}
ul{
	list-style-type: none;
	width: 600px;
}
li a {
	float: left ;
  display: inline;
  text-align: center;
  width: 150px;
  height: 25px;
  padding-top: 5px;
}
li a:hover{
	background-color: #8fbc8f;
}
table{
	border-spacing: 3px;
	margin-right: auto;
	margin-left: auto;
}
p{
	text-align: justify;
	font-family: Times New Roman, sans-serif;
}
img:hover {
  border-radius: 10%;
}
